/* COLORS */
$darkBlue: rgb(9, 11, 26);
$desaturatedBlue: rgb(27, 25, 56);
$violetAccent: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$whiteParagraph: hsla(0, 0%, 100%, 0.75);
$whiteStats: hsla(0, 0%, 100%, 0.6);


/* FONNTS */
$inter: 'Inter', sans-serif;
$lexendDeca: "Lexend Deca", sans-serif;